recursive-include flask_discussion/templates *
include requirements-dev.txt
graft docs
prune docs/_build

recursive-exclude * __pycache__
recursive-exclude * *.swp
recursive-exclude * *.py[co]
recursive-exclude * *.orig
